@model WebsiteBanXeMay___Coding.Models.NhaSanXuat
<h2>Chi tiết nhà sản xuất</h2>
<dl>
    <dt>ID</dt>
    <dd>@Model.Id</dd>
    <dt>Tên</dt>
    <dd>@Model.TenNhaSanXuat</dd>
    <dt>Địa Chỉ</dt>
    <dd>@Model.DiaChi</dd>
</dl>
